<h1 class="text-center">Please Choose A Bus Route: </h1>

  <div class="container">

   <div class="btn-group">
     <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
       Choose A Route <span class="caret"></span>
     </button>
     <ul class="dropdown-menu" role="menu">
       <% @routes.each do |route| %>
       <li><a href= <%= "routes/#{route.id}" %> ><%= "#{route.route_number}: #{route.name}" %></a></li>
       <% end %>
     </ul>
   </div>

    <%= link_to "Longest Route", "/routes/#{@longest_route.id}", :class => "btn btn-primary" %>

    <%= link_to "Stop With Most Routes", "/stops/#{@stop_w_most_routes.id}", :class => "btn btn-primary" %>

    <%= link_to "Top Ten Stops by Boardings", "/stops/stats/top_ten_by_boardings", :class => "btn btn-primary" %>

    <%= link_to "Top Ten Stops by Alightings", "/stops/stats/top_ten_by_alightings", :class => "btn btn-primary" %>
</div>


<div class="container">

  <h3 class="text-center">Stops</h3>

  <table id ="all_stops">
    <thead>
      <tr>
        <th>Stop ID</th>
        <th>On Street</th>
        <th>Cross Street</th>
        <th>Routes List</th>
        <th>Total Routes</th>
        <th>Boardings</th>
        <th>Alightings</th>
        <th>Location</th>
      </tr>
    </thead>
    <tbody>
      <% @stops.each do |stop| %>
      <tr>
        <td><%= link_to "#{stop.id}", "../stops/#{stop.id}" %></td>
        <td><%= stop.on_street %></td>
        <td><%= stop.cross_street %></td>
        <td><%= stop.routes_list %></td>
        <td><%= stop.routes_total %></td>
        <td><%= stop.boardings %></td>
        <td><%= stop.alightings %></td>
        <td><%= stop.location %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

</div>
